@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply no-scrollbar;
  }

  body {
    @apply text-primary;
  }

  .button-px button {
    @apply px-5;
    /* Tailwind 클래스 적용, 5는 20px에 해당 */
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.arch-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  opacity: 0.3;
  background-image: radial-gradient(
    circle at 50% 50%,
    transparent 0 70%,
    gray 70% 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.header-fixed {
  position: fixed;
  top: 0;
  transition: position 0.3s ease-in-out;
}
