@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    @apply no-scrollbar;
  }

  html {
    @apply no-scrollbar;
  }

  body {
    @apply text-primary;
  }

  .button-px button {
    @apply px-5;
    /* Tailwind 클래스 적용, 5는 20px에 해당 */
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.arch-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  opacity: 0.3;
  background-image: radial-gradient(
    circle at 50% 50%,
    transparent 0 70%,
    gray 70% 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.header-fixed {
  position: fixed;
  top: 0;
  transition: position 0.3s ease-in-out;
}
@keyframes dropdown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out forwards;
}
.react-calendar {
  border: none !important;
  width: 100% !important;
}
.react-calendar__navigation {
  height: 52px !important;
  padding: 12px 16px 12px;
  margin-bottom: 8px !important;
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
  }
}
.react-calendar__tile--now {
  color: #92b904 !important;
  background-color: inherit !important;
}
.react-calendar__tile--now.react-calendar__tile--hover {
  background-color: #e6e6e6 !important;
}
.react-calendar__month-view__weekdays {
  padding: 8px 16px 0px;
  font-size: 14px;
  font-weight: 400;
  color: #b7b7b7;
  abbr:where([title]) {
    text-decoration: none;
  }
}
.react-calendar__month-view__days {
  padding: 0px 16px;

  button {
    font-size: 16px;
  }
}

.react-calendar__month-view__days__day--weekend {
  color: #e85530 !important;
}
.react-calendar__month-view__days__day.react-calendar__tile--range {
  color: black;
}
.react-calendar__tile--range {
  background-color: #f7fdd3 !important;
}
.react-calendar__month-view__days__day.react-calendar__tile--rangeEnd {
  color: #2e89ea !important;
  background-color: #e8f97b !important;
}
.react-calendar__month-view__days__day.react-calendar__tile--rangeStart {
  color: #2e89ea !important;
  background-color: #e8f97b !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  mix-blend-mode: multiply;
  opacity: 0.7;
}
